.mainwrapper:before {

	-webkit-box-shadow: 15px 0 15px -15px #a5ff06 inset;
	-moz-box-shadow: 15px 0 15px -15px #a5ff06 inset;
	box-shadow: 15px 0 15px -15px #a5ff06 inset;
	content: " ";
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0;
	width: 15px;
	z-index: 1;
}

.mainwrapper:after {

	-webkit-box-shadow: -15px 0 15px -15px #a5ff06 inset;
	-moz-box-shadow: -15px 0 15px -15px #a5ff06 inset;
	box-shadow: -15px 0 15px -15px #a5ff06 inset;
	content: " ";
	height: 100%;
	right: 0px;
	position: absolute;
	top: 0;
	width: 15px;
	z-index: 1;
}

.mainwrapper
{
    
    z-index: 0;
	width: 960px;
	margin: 0 auto;
	margin-top: 0px !important;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #a5ff06;
	background-color: #000000;
    min-height: 100vh;
    text-shadow: none;
    position: relative;
}

.hcentre
{
	text-align: center;
}

.vcentre
{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.banner
{
	color: #a5ff06;
	overflow: hidden;
	height: 160px;
	
}

.banner:after
{
	content: ""; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.bannerinner
{
	clear: both;
	overflow: auto; /* Stops collapsing margin fuckery */
	overflow: hidden;
}

.bannertext
{
	margin-top:90px;
	margin-left:24px;
}

@font-face {
font-family: 'GeoNMS';
src: url('font/geonms.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}

.bannerheading
{
	
	font-size:3.5em;
	font-family: "GeoNMS", sans-serif;
    text-shadow:
    -3px -3px 0 #456d00,
    3px -3px 0 #456d00,
    -3px 3px 0 #456d00,
    3px 3px 0 #456d00;  
}

.bannerheading a,
.bannerheading a:link,
.bannerheading a:active,
.bannerheading a:hover,
.bannerheading a:visited 
{

	color: #a5ff06;
	text-decoration: none;
	text-shadow:
    -3px -3px 0 #456d00,
    3px -3px 0 #456d00,
    -3px 3px 0 #456d00,
    3px 3px 0 #456d00;

}

.bannersubtext
{
	margin-left:.25em;
	margin-right:.25em;
	font-size:1.5em;
	font-family: 'Oswald', sans-serif;
	font-weight: 450;
	line-height:1.5em;
	color: #fff;

	text-shadow:
    -1px -1px 0 #76b900,
    1px -1px 0 #76b900,
    -1px 1px 0 #76b900,
    1px 1px 0 #76b900;  
}

.topnav
{
	width:100vw;
	height:64px;
	margin: 0 auto;
	margin-left:-25vw;
	margin-bottom:1em;
	background: linear-gradient(#76b900,#456d00);
	z-index: 2;
	position: relative;
	left:0px;
	box-shadow: 0 15px 15px -15px #000;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, 
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}

.topnav:after
{

}

.navcol
{
	float:left; 
	width:18.5em; 
}

.contentwrapper
{
	float:right;
	width:39em;
	margin-right:2em;

}

.contentwrapper p
{

	line-height: 1.5em;

}

.navbox
{

	margin:1em;
	margin-top:0px;
	margin-left:2em;

}

.navsectionheading
{

	padding: 4px;
	padding-left:0.25em;
	background: linear-gradient(#456d00,#76b900);
	color: #000;
	font-family: "Black Ops One", sans-serif;
	font-style: oblique;
	font-size: 1.25em;
	vertical-align: middle;
	border-left-width:4px;
	border-left-style:solid;
	border-left-color:#a5ff06;
	max-height: 32px;

}

.navsectionlinks
{

	padding: 4px;
	padding-left:0.5em;
	background: #181818;
	color: #a5ff06;

}

a {
	text-decoration: underline;
	color: #a5ff06;
}

a img,
a:active img,
a:link img,
a:visited img,
a:hover img {
	text-decoration: none;
}

a:active, a:link {
	color: #a5ff06;
}

a:visited {
	color: #456d00;
}

a:hover {
	color: #fff;
}

.heading
{

	padding: 4px;
	padding-left:8px;
	color:#fff;
	font-family: "Black Ops One", sans-serif;
	background: linear-gradient(#222222,#141414);
	font-size:1.25em;
	border-left-width:4px;
	border-left-style:solid;
	border-left-color:#a5ff06;
	margin-bottom:0.25em;

}

.tabcontainer
{
	
	padding: 4px;
	padding-left:2em;
	margin-bottom:1em;

}

.tab
{

	font-family: "Black Ops One", sans-serif;
	font-size:1.25em;	
	font-style: oblique;
	border-left-width:4px;
	border-left-style:solid;
	border-left-color:#a5ff06;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-top: 4px;
	padding-bottom: 3px;
	margin-right:0.5em;
	background: linear-gradient(#222222,#141414) !important;
	text-decoration: none !important;
	color:#fff !important; 

}

.activetab
{
	background: linear-gradient(#456d00,#76b900) !important;
	text-decoration: none !important;
	color: #fff !important; 
}

.monospaced
{

	font-family: "Courier New", monospace;
	font-weight:bold;

}

.list
{
	border-left-width:4px;
	border-left-style:solid;
	border-left-color:#456d00;
	margin-left:2em;
	padding-left:0.5em;
	font-weight:bold;
}

.blockquote
{
	border-left-width:4px;
	border-left-style:solid;
	border-left-color:#456d00;
	margin-left:2em;
	padding-left:0.5em;
	font-weight:bold;
	background-color: #000;
}

.bold
{
	color: #fff;
	font-weight: bold;
}

.emph
{

	color: #fff;
	font-weight: bold;
	font-style: oblique;
	margin-right:2.5px;

}

.subtleemph
{
	font-style: oblique;
	font-weight: bold;
	margin-right:2.5px;
}

.subheading
{

	color:#fff;
	font-weight:bold;
}

.inactive
{
	text-decoration: none;
}

.imgfleft
{
	float:left;
	margin-right:1em;
}

.infobox
{

	margin-left:1em;
	overflow: auto;

}

.infobox p
{
	margin-left:auto;
}

.hidden
{
	display: none;
	visibility: hidden;
}

.strike {
	text-decoration: line-through;
}

.divider {
	background-color: #181818;
	min-height:1px;
}
