.mainwrapper:before {

	-webkit-box-shadow: 15px 0 15px -15px #a5ff06 inset;
	-moz-box-shadow: 15px 0 15px -15px #a5ff06 inset;
	box-shadow: 15px 0 15px -15px #a5ff06 inset;
	content: " ";
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0;
	width: 15px;
	z-index: 1;
}

.mainwrapper:after {

	-webkit-box-shadow: -15px 0 15px -15px #a5ff06 inset;
	-moz-box-shadow: -15px 0 15px -15px #a5ff06 inset;
	box-shadow: -15px 0 15px -15px #a5ff06 inset;
	content: " ";
	height: 100%;
	right: 0px;
	position: absolute;
	top: 0;
	width: 15px;
	z-index: 1;
}

.mainwrapper
{
    
    z-index: 0;
	width: 960px;
	margin: 0 auto;
	margin-top: 0px !important;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #a5ff06;
	background-color: #000000;
    min-height: 100vh;
    color: #ffffff;
    text-shadow: none;
    position: relative;
}

.hcentre
{
	text-align: center;
}

.vcentre
{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.banner
{
	color: #a5ff06;
	overflow: hidden;
	height: 160px;
	
}

.banner:after
{
	content: ""; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.bannerinner
{
	clear: both;
	overflow: auto; /* Stops collapsing margin fuckery */
	overflow: hidden;
}

.bannertext
{
	margin-top:90px;
	margin-left:24px;
}

.bannerheading
{
	
	font-size:3.5em;
	font-family: "Black Ops One", sans-serif;
	font-weight: 900;
	font-style: oblique;

    text-shadow:
    -1px -1px 0 #456d00,
    1px -1px 0 #456d00,
    -1px 1px 0 #456d00,
    1px 1px 0 #456d00;  
}

.bannersubtext
{
	margin-left:.25em;
	margin-right:.25em;
	font-size:1.5em;
	font-family: 'Oswald', sans-serif;
	font-weight: 900;
	line-height:1.5em;
	color: #76b900;

	text-shadow:
    -1px -1px 0 #456d00,
    1px -1px 0 #456d00,
    -1px 1px 0 #456d00,
    1px 1px 0 #456d00;  
}

.topnav
{
	width:100vw;
	height:64px;
	margin: 0 auto;
	margin-left:-25vw;
	margin-bottom:1em;
	background: linear-gradient(#76b900,#456d00);
	z-index: 2;
	position: relative;
	left:0px;
	box-shadow: 0 15px 15px -15px #000;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, 
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}

.topnav:after
{

}

.navcol
{
	float:left; 
	width:18em; 
}

.contentwrapper
{
	float:right;
	width:40em;
	margin-right:2em;
}

.contentwrapper p
{

	line-height: 1.5em;

}

.navbox
{

	margin:1em;
	margin-top:0px;
	margin-left:2em;
	border-radius: 1em;
	background-color: #BADA55;

}

.navsectionheading
{

	padding: 4px;
	background: linear-gradient(#456d00,#76b900);
	color: #000;
	font-family: "Black Ops One", sans-serif;
	font-style: oblique;
	font-size: 1.5em;
	font-weight: bold;
	vertical-align: middle;

}

.navsectionlinks
{

	padding: 4px;
	background: #0F0F0F;
	color: #a5ff06;

}

a {
	text-decoration: underline;
	color: #a5ff06;
}

a:active, a:link {
	color: #a5ff06;
}

a:visited {
	color: #456d00;
}

a:hover {
	color: #fff;
}
