* {
  	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0px;
    padding:0px;
    border:0px;
    content:0px;
    background-color: #000000;
}

html, body
{
    
   
    top:0%;
	color: #ffffff;
	background-color: #000000;
	font-family: "Rubik", "Open Sans", "Verdana", "Arial", "Helvetica", "Bitstream", Sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	overflow-x: hidden;
	z-index: 0;
	min-width: 960px;

}

a img,
a:active img,
a:link img,
a:visited img,
a:hover img {
	text-decoration: none;
}

a:active, a:link {
	color: #FDCD00;
}

a:visited {
	color: #ff7f00;
}

a:hover {
	color: #FDCD00;
}

div
{

	margin:0px;
    padding:0px;
    border:0px;
    content:0px;

}

p
{	
	line-height: 24px;

}

li
{
	color: #fff;
}

ul,ol
{
	margin-left:4em;
}

.para 
{
	margin-bottom:1em;
	margin-top: 1em;
	margin-left:2em;
	color: #ffffff;
}

.heading 
{
	margin-top:40px;
	margin-bottom: 32px;
	font-size:42px;
	font-family: "Orbitron", "Open Sans", "Verdana", "Arial", "Helvetica", "Bitstream", Sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: #FDCD00;
	font-weight:bold;
}

.subhead
{
	font-size:24px;
	font-family: "Orbitron", "Open Sans", "Verdana", "Arial", "Helvetica", "Bitstream", Sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #FDCD00;
	font-weight:bold;
}

.wrapper 
{
	width: 960px;
	margin: 0 auto;
}

.emph
{
	font-weight: bold;
}

.hidden
{
	display: none;
	visibility: hidden;
}

.vcentre
{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.hcentre
{
	text-align: center;
}

.topnav
{
	margin-top:32px;
	margin-bottom:-24px;
	height:32px;
	background-color: #085C78;
	text-align: center;
}
