* {
  	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0px;
    padding:0px;
    border:0px;
    content:0px;
}

html, body
{
    
   
    top:0%;
	color: #fff;
	text-shadow: 1px 1px #000;
	background-color: #456d00;
	font-family: "Open Sans", "Verdana", "Arial", "Helvetica", "Bitstream", Sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	overflow-x: hidden;
	z-index: 0;
	min-width: 960px;

}

div
{

	margin:0px;
    padding:0px;
    border:0px;
    content:0px;

}

p
{

	line-height: 22px;
	margin-bottom:1em;

}
